@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    padding: 2rem 1rem;
    width: 100%;
    margin: 0 auto;
    background-color: #6d0a0a;
}

header h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    background-color: #c54636;
    line-height: 50px;
    width: 10%;
    font-size: 17px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 20px;
}
a:hover{
    background-color: #b95a3f;
}

#new-recepi-form {
    display: flex;

}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-recepi-input {
    flex: 1 1 0%;
    background-color: #f9f8f8;
    padding: 0.7rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;

}

#new-recepi-submit {
    color: white;
    background-color: #c54636;
    font-size: 1.25rem;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}
#new-recepi-submit:hover{
    background-color: #b95a3f;
}

main {
    flex: 1 1 0%;
    width: 100%;
    margin: 0 auto;
}

.recepi-list {
    padding: 1rem;
}


#recepi .recepi {
    display: flex;
    justify-content: space-between;
    background-color: rgb(190, 192, 191);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.recepi .content {
    flex: 1 1 0%;
}

.recepi .content .text {
    font-size: 1.125rem;
    width: 100%;
    display: block;
}

.recepi .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.recepi .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}


.recepi .actions .edit {

    color: #c54636;

}

.recepi .actions .delete {
    color: brown;

}